.@{markdown-prefix-cls} {
    display: block;
    width: inherit;
    a {
        color: @primary-color;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        max-width: 100%;
    }
    pre {
        color: rgb(255, 255, 255);
        tab-size: 1.5em;
        background: rgb(40, 44, 52);
        border-radius: 10px;
        overflow: auto;
    }
    blockquote { 
        background-color: rgba(255,229,100,0.3);
        border-left-color: #ffe564;
        border-left-width: 9px;
        border-left-style: solid;
        padding: 20px 45px 20px 26px;
    }
}