@blog-prefix: ~"blog";

// dialog
@dialog-prefix-cls: ~"@{blog-prefix}-dialog";

// error
@error-prefix-cls: ~"@{blog-prefix}-error";

// markdown
@markdown-prefix-cls: ~"markdown-body";

// masonry
@masonry-prefix-cls: ~"@{blog-prefix}-masonry";
